<footer class="bbs-footer" id="footer">
	<div class="container bbs-footer-container">
		<div class="bbs-footer-inner">
			<div class="bbs-footer-brand">
				<!--{hook footer_footer_left_start.htm}-->
				<span>Powered by</span>
				<a href="http://bbs.xiuno.com/" target="_blank"><b>Xiuno BBS</b><em><?php echo $conf['version'];?></em></a>
				<!--{hook footer_footer_left_end.htm}-->
			</div>
			<div class="bbs-footer-meta">
				<!--{hook footer_footer_right_start.htm}-->
				<span>Processed <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b></span>
				<span>SQL <b><?php echo count($db->sqls);?></b></span>
				<!--{hook footer_footer_right_end.htm}-->
			</div>
		</div>
	</div>
</footer>